apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasources
  namespace: custom-metrics-collection
data:
  datasources.yaml: |
    apiVersion: 1
    datasources:
      - name: MySQL
        type: mysql
        access: proxy
        url: mysql:3306
        database: nodes
        user: metrics_user
        secureJsonData:
          password: dev-metrics-password
        jsonData:
          maxOpenConns: 100
          maxIdleConns: 100
          connMaxLifetime: 14400
        isDefault: true
        editable: true

