apiVersion: v1
kind: ConfigMap
metadata:
  name: mysql-config
  namespace: custom-metrics-collection
data:
  my.cnf: |
    [mysqld]
    max_connections=200
    innodb_buffer_pool_size=256M
    event_scheduler=ON
    default-time-zone='+00:00'

